.color-black{
  background-color: black;
}
.color-red {
  background-color: #A42621;
}
.color-green {
  background-color: #275F23;
}
.color-blue {
  background-color: #ECBF38;

}
.color{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block; 
}
estilo de 
.coluna{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: inline-block;
  
}
.line {
  width: 35px;
  height: 30px;
}
#color-palette {
 margin-left: auto;
 margin-right: auto;
 width: max-content

}
#title {
  text-align: center;
}
.table {
  width: 35px;
  height: 35px;
}
table, td ,th {
  border: 1px solid black;
  margin: auto;
}
table{
  width: auto;
 
}
