.color-black{
  background-color: black;
}
.color-red {
  background-color: #A42621;
}
.color-green {
  background-color: #275F23;
}
.color-blue {
  background-color: #ECBF38;

}
.color{
  width: 45px;
  height: 45px;
  border: 1px solid black;
  display: inline-block; 
}
#title{
  text-align: center;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.pixel {
  width: 40px;
  height: 40px;
  background-color:white;
  border: 1px solid black;
}
#table-father {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  background-color: white;
}
#color-palette {
  width: max-content;
  margin: auto;
}
#pixel-board {
  background-color: white;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: tomato;
}